openapi: 3.1.0
info:
  title: Zenuniverse Mobile API
  version: 1.0.0
  description: 'Kontrak dari sumber lokal routes/api.php, controller, resource, middleware
    dan services.

    Bukan bukti deployment/staging atau login Google native live. Semua respons sukses
    HTTP 200.

    Request snake_case; respons umumnya camelCase. Tidak ada refresh token atau endpoint
    avatar.

    '
servers:
- url: https://zenuniverse.id/api/v1
  description: Live integration API; native Google login Android/iOS still requires
    device verification.
security:
- learnerBearer: []
paths:
  /auth/google:
    post:
      operationId: googleLogin
      summary: Tukar Google ID token native menjadi token Sanctum learner (30 hari).
      description: Throttle 10/menit. aud harus masuk GOOGLE_MOBILE_AUDIENCES. Email
        terverifikasi wajib; email existing tanpa pemetaan provider menghasilkan account_link_required,
        bukan auto-link.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id_token
              - device_name
              properties:
                id_token:
                  type: string
                  maxLength: 16384
                device_name:
                  type: string
                  maxLength: 100
      responses:
        '200':
          description: Token diterbitkan; simpan secara aman, jangan log.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - token
                      - tokenType
                      - expiresAt
                      - user
                      properties:
                        token:
                          type: string
                        tokenType:
                          type: string
                          const: Bearer
                        expiresAt:
                          type: string
                          format: date-time
                        user:
                          $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
  /me:
    get:
      operationId: getMe
      summary: Profil pengguna token saat ini.
      responses:
        '200':
          description: Profil tanpa avatar.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /auth/logout:
    post:
      operationId: logout
      summary: Hapus hanya token akses saat ini (bukan semua perangkat).
      responses:
        '200':
          description: Token dihapus.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      type: object
                      required:
                      - loggedOut
                      properties:
                        loggedOut:
                          type: boolean
                          const: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /courses:
    get:
      operationId: listCourses
      summary: Katalog course published saja.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Katalog terpaginasikan.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PagedEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/CourseSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Validation'
        '500':
          $ref: '#/components/responses/ServerError'
  /courses/{course}:
    get:
      operationId: getCourse
      summary: Detail course published dengan urutan unit/lesson dan status unlock.
      parameters:
      - name: course
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail course.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Course'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /lessons/{lesson}:
    get:
      operationId: getLesson
      summary: Payload lesson published dan unlocked, tanpa kunci jawaban privat.
      parameters:
      - $ref: '#/components/parameters/Lesson'
      responses:
        '200':
          description: Lesson dan langkah publik.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Lesson'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /me/progress:
    get:
      operationId: getProgress
      summary: Snapshot server XP, hearts, streak, badge dan completion.
      responses:
        '200':
          description: Snapshot authoritative.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Progress'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
  /leaderboard:
    get:
      operationId: getLeaderboard
      summary: Ranking XP global dengan tie-break created_at lalu user id.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Ranking terpaginasikan; avatarUrl existing dapat null, tidak
            ada upload API.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PagedEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - rank
                        - displayName
                        - avatarUrl
                        - totalXp
                        properties:
                          rank:
                            type: integer
                          displayName:
                            type: string
                          avatarUrl:
                            type:
                            - string
                            - 'null'
                          totalXp:
                            type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Validation'
        '500':
          $ref: '#/components/responses/ServerError'
  /learning/attempts:
    post:
      operationId: submitAttempt
      summary: Verifikasi satu langkah dengan UUID idempotensi; throttle 60/menit.
      description: 'Simpan attempt_id dan JSON payload yang sama untuk retry. UUID
        sama dengan payload

        berbeda menghasilkan attempt_conflict. Replay mengembalikan xpAwarded historis,

        bukan pemberian XP ulang; progress tetap snapshot terbaru. Revisi usang ditolak

        sebelum replay. completed menandakan completion lesson, bukan hanya step.

        Jawaban salah adalah sukses HTTP 200 dengan result.correct=false.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttemptRequest'
      responses:
        '200':
          description: Hasil verifikasi dan progress authoritative.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/CompletionResult'
                      - type: object
                        required:
                        - result
                        properties:
                          result:
                            type: object
                            required:
                            - correct
                            - consumeHeart
                            - feedback
                            properties:
                              correct:
                                type: boolean
                              consumeHeart:
                                type: boolean
                              feedback:
                                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
  /learning/lessons/{lesson}/complete:
    post:
      operationId: completeLesson
      summary: Rekonsiliasi completion lesson; tidak melewati langkah belum selesai
        (60/menit).
      description: Semua langkah harus selesai untuk reward. Jika belum, HTTP 200
        dengan completed=false dan xpAwarded=0; tidak ada attempt_id pada endpoint
        ini.
      parameters:
      - $ref: '#/components/parameters/Lesson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - content_revision
              properties:
                content_revision:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Status completion dan snapshot progress.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CompletionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  securitySchemes:
    learnerBearer:
      type: http
      scheme: bearer
      description: Personal access token Sanctum dengan ability learner; bukan JWT
        Google atau cookie session.
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100000
        default: 1
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Lesson:
      name: lesson
      in: path
      required: true
      schema:
        type: string
  responses:
    Unauthorized:
      description: unauthenticated (absen, kedaluwarsa, dicabut) atau invalid_google_token
        pada login.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: forbidden (ability bukan learner) atau lesson_locked.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: not_found; ID hilang atau konten bukan published.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Conflict:
      description: account_link_required (login), content_changed, attempt_conflict
        (attempt), no_hearts (attempt non-concept).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Validation:
      description: validation_failed dengan fields, atau invalid_step untuk step di
        lesson lain (fields kosong).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: rate_limited; hormati Retry-After bila dikirim.
      headers:
        Retry-After:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    ServerError:
      description: server_error; gunakan requestId untuk diagnosis, jangan log token/jawaban
        sensitif.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    Envelope:
      type: object
      required:
      - data
      - meta
      description: 'JSON resource Laravel dibungkus data; Cache-Control: no-store
        dan X-Request-ID pada respons API.'
      properties:
        data: {}
        meta:
          type: object
          required:
          - requestId
          properties:
            requestId:
              type: string
              format: uuid
    PagedEnvelope:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          meta:
            type: object
            required:
            - pagination
            properties:
              pagination:
                type: object
                required:
                - total
                - perPage
                - currentPage
                - lastPage
                properties:
                  total:
                    type: integer
                  perPage:
                    type: integer
                  currentPage:
                    type: integer
                  lastPage:
                    type: integer
    ErrorEnvelope:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - fields
          properties:
            code:
              type: string
            message:
              type: string
            fields:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
        meta:
          type: object
          required:
          - requestId
          properties:
            requestId:
              type: string
              format: uuid
    User:
      type: object
      required:
      - id
      - displayName
      - email
      properties:
        id:
          type: integer
        displayName:
          type: string
        email:
          type: string
          format: email
    CourseSummary:
      type: object
      required:
      - id
      - title
      - description
      - level
      - lessonCount
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        level:
          type: string
        lessonCount:
          type: integer
    Course:
      type: object
      required:
      - id
      - title
      - description
      - level
      - contentRevision
      - units
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        level:
          type: string
        contentRevision:
          type: integer
        units:
          type: array
          items:
            type: object
            required:
            - id
            - title
            - description
            - lessons
            properties:
              id:
                type: string
              title:
                type: string
              description:
                type: string
              lessons:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - title
                  - description
                  - completed
                  - unlocked
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    description:
                      type: string
                    completed:
                      type: boolean
                    unlocked:
                      type: boolean
    Lesson:
      type: object
      required:
      - id
      - title
      - description
      - completionRewardXp
      - contentRevision
      - courseId
      - courseTitle
      - completed
      - completedStepIds
      - steps
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        completionRewardXp:
          type: integer
        contentRevision:
          type: integer
        courseId:
          type: string
        courseTitle:
          type: string
        completed:
          type: boolean
        completedStepIds:
          type: array
          items:
            type: string
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
    Step:
      type: object
      required:
      - id
      - type
      - reward
      - content
      description: 'content berbasis tipe, field opsional hanya disertakan jika ada
        di sumber.

        concept: eyebrow,title,illustration,code,bodyHtml (HTML markdown tersanitasi).

        quiz: question,options[{id,label}], ID opsi publik opaque dan revisi-dependent.

        blockly: title,objective,availableBlocks; challenge terpisah dengan board,start,goal,

        obstacles,maxExecutionSteps,maxBlocks,starterProgram,hint,hints bila tersedia.

        code-fill: title,instructions,language,parts,blanks,hint.

        code: title,prompt,language,starterCode,mockOutput,sampleInput,hint.

        validation, expectedCode dan quiz explanation tidak disertakan di payload
        publik.

        Struktur nested konten bervariasi; tidak diasumsikan lebih ketat dari allowlist
        sumber.

        '
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - concept
          - quiz
          - blockly
          - code-fill
          - code
        reward:
          type: object
          required:
          - xp
          properties:
            xp:
              type: integer
        content:
          type: object
          additionalProperties: true
        challenge:
          type: object
          additionalProperties: true
    AttemptRequest:
      type: object
      required:
      - lesson_id
      - step_id
      - attempt_id
      - content_revision
      - answer
      properties:
        lesson_id:
          type: string
          maxLength: 160
        step_id:
          type: string
          maxLength: 160
        attempt_id:
          type: string
          format: uuid
        content_revision:
          type: integer
          minimum: 1
        answer:
          type: object
          maxProperties: 32
          required:
          - type
          description: Field jenis jawaban bersifat sometimes pada validasi request;
            missing/mismatch dapat menghasilkan correct=false, bukan selalu 422. concept
            tidak memeriksa acknowledged.
          properties:
            type:
              type: string
              enum:
              - concept
              - quiz
              - blockly
              - code-fill
              - code
            acknowledged:
              type: boolean
            optionId:
              type: string
              maxLength: 160
            commands:
              type: array
              maxItems: 500
              items: {}
            answers:
              type: object
              maxProperties: 500
              additionalProperties:
                type: string
                maxLength: 2000
              description: Map blank ID dari content.blanks ke string jawaban.
            code:
              type: string
              maxLength: 20000
    CompletionResult:
      type: object
      required:
      - xpAwarded
      - completed
      - progress
      properties:
        xpAwarded:
          type: integer
        completed:
          type: boolean
        progress:
          $ref: '#/components/schemas/Progress'
    Progress:
      type: object
      required:
      - totalXp
      - updatedAt
      - dailyXp
      - dailyXpDate
      - dailyGoalClaimedDate
      - currentStreak
      - longestStreak
      - lastActivityDate
      - hearts
      - heartsCapacity
      - heartsRegenMinutes
      - nextHeartInMs
      - badges
      - level
      - dailyGoal
      - completedLessonIds
      - completedStepIds
      - courseProgress
      properties:
        totalXp:
          type: integer
        updatedAt:
          type: integer
          format: int64
          description: Unix epoch milliseconds; bukan ISO timestamp.
        dailyXp:
          type: integer
        dailyXpDate:
          type:
          - string
          - 'null'
          format: date
        dailyGoalClaimedDate:
          type:
          - string
          - 'null'
          format: date
        currentStreak:
          type: integer
        longestStreak:
          type: integer
        lastActivityDate:
          type:
          - string
          - 'null'
          format: date
        hearts:
          type: integer
        heartsCapacity:
          type: integer
        heartsRegenMinutes:
          type: integer
        nextHeartInMs:
          type:
          - integer
          - 'null'
          format: int64
        badges:
          type: array
          items:
            type: string
        level:
          type: object
          required:
          - current
          - currentXp
          - xpIntoLevel
          - xpToNextLevel
          - percent
          properties:
            current:
              type: object
              required:
              - level
              - name
              - minXp
              - nextXp
              properties:
                level:
                  type: integer
                name:
                  type: string
                minXp:
                  type: integer
                nextXp:
                  type: integer
            currentXp:
              type: integer
            xpIntoLevel:
              type: integer
            xpToNextLevel:
              type: integer
            percent:
              type: integer
        dailyGoal:
          type: object
          required:
          - progress
          - percent
          - claimed
          - remaining
          properties:
            progress:
              type: integer
            percent:
              type: integer
            claimed:
              type: boolean
            remaining:
              type: integer
        completedLessonIds:
          type: array
          items:
            type: string
        completedStepIds:
          type: array
          items:
            type: string
        courseProgress:
          type: array
          items:
            type: object
            required:
            - courseId
            - title
            - completed
            - total
            - percent
            properties:
              courseId:
                type: string
              title:
                type: string
              completed:
                type: integer
              total:
                type: integer
              percent:
                type: integer
